# Creating a Database

In [5]:
import sqlite3

conn = sqlite3.connect('pets_database.db')
cur = conn.cursor()

# Creating Tables

In [ ]:
# Creating the cats table
cur.execute("""CREATE TABLE cats (
                                id INTEGER PRIMARY KEY,
                                name TEXT,
                                age INTEGER,
                                breed TEXT)

            """)

## Populating Tables

In [9]:
# insert Maru into the pet_database.db here
cur.execute('''INSERT INTO cats (name, age, breed)
                  VALUES('Maru', 3, 'Scottish Fold');
            ''')

## Altering a Table

In [10]:
cur.execute('''ALTER TABLE cats 
                  ADD owner TEXT;
            ''')

In [21]:
import pandas as pd

q = """
SELECT *
FROM cats;
"""
pd.read_sql(q, conn)

   id  name  age          breed owner
0   1  Maru    3  Scottish Fold  Hana

## Updating Data

In [16]:
cur.execute('''UPDATE cats
                  SET owner = 'Hana'
                  WHERE owner IS NULL;
            ''')

## Deleting Data

In [18]:
# insert Maru into the pet_database.db here
cur.execute('''INSERT INTO cats (name, age, breed)
                  VALUES('Simba', 5, 'German Shepherd');
            ''')

In [20]:
# DELETE record with id = 2
cur.execute(''' DELETE FROM cats
                    WHERE id = 2;
            ''')

## Saving Changes

In [22]:
# preview the table via the current/connection
cur.execute("""
SELECT *
  FROM cats;
""").fetchall()

[(1, 'Maru', 3, 'Scottish Fold', 'Hana')]

In [23]:
# commit your changes to the database
conn.commit()

In [24]:
# preview the table via a reloaded second current cursor/connection
conn2 = sqlite3.connect('pets_database.db')
cur2 = conn2.cursor()
cur2.execute("""SELECT * FROM cats;""").fetchall()

[(1, 'Maru', 3, 'Scottish Fold', 'Hana')]